.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
yarn.lock
yarn-error.log
npm-debug.log*
.npm
.eslintrc.json
**/*.ts
**/*.map
.nyc_output
coverage
node_modules/**
example/**
ReadMe.md
.github/**
**/.eslintrc.json
**/tsconfig.json
**/.vscode/**
**/node_modules/**
**/*.vsix
**/.DS_Store
**/test-results.xml
**/coverage.xml
**/*.tgz
**/*.tar.gz